body {
	padding: 0;
	margin: 0;
}
html, body, #mapid {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

#mapid{
	position: absolute;
}

#titolo{
	position:absolute;
	top: 10px;
}

.navbar-fixed-side {
  position: fixed;
}

.navbar-fixed-side .navbar-nav > li {
  float: none;
}

.navbar.navbar, .navbar-default.navbar {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.84);
}

#contenitoremappa{
	bottom: 0px;
	position: absolute;
	color: black;
}


.container-collapse{
	display: none;
}

.container-expand{
	display: block;
}
